<ul class="list-unstyled">
  {% for obj in objs %}
    <li class="media mb-3">
      <div class="media-body">
        <h3 class="mt-0 mb-1">
          <a class="text-dark" href="{{ obj.get_absolute_url }}">
            {{ obj.title }}
          </a>
        </h3>
        <div class="text-secondary mb-2">
          <i>Published {{ obj.publish }} by {{ obj.author }}</i>
        </div>
        <div>
          {{ obj.content|truncatewords:30|linebreaks }}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>